# Data Preparation

In [1]:
#Import libraries
import pandas as pd
import sklearn as sk
from sklearn import linear_model

In [2]:
#Import data
train = pd.read_csv("train_christmas_tree.csv", header=1, sep=";", decimal=",",
                 names=["personalID","realChristmasTree","cityOfResidence","gender","age","serviceYears","familySize","invoiceNumberChristmasTree","KmDriven","accountClass","branch","name"
])

test = pd.read_csv("test_christmas_tree.csv", header=0, sep=";", decimal=",", 
                  names=["personalID","cityOfResidence","gender","age","serviceYears","familySize","invoiceNumberChristmasTree","KmDriven","accountClass","branch","name"
])

train.describe()

C:\Users\cmusso\AppData\Local\Continuum\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,personalID,realChristmasTree,age,serviceYears,familySize,invoiceNumberChristmasTree,KmDriven
count,890.000000,890.000000,713.000000,890.000000,890.000000,890.000000,890.000000
mean,446.500000,0.384270,29.709916,1.522472,0.382022,52188.444944,34834.836961
std,257.065167,0.486696,14.533827,1.103247,0.806409,28510.925697,7457.147624
min,2.000000,0.000000,0.420000,1.000000,0.000000,390.000000,30000.000000
25%,224.250000,0.000000,NaN,1.000000,0.000000,27776.000000,31188.750000
50%,446.500000,0.000000,NaN,1.000000,0.000000,52843.000000,32168.130000
75%,668.750000,1.000000,NaN,2.000000,0.000000,76600.250000,34650.000000
max,891.000000,1.000000,80.000000,9.000000,6.000000,99940.000000,106849.380000

# Data Exploration

In [3]:
# What was the average age of the females that do not have a real christmas tree at home? 
# Give your answer with 2 decimals, for example 23.15
(train[(train['gender']=='female') & (train['realChristmasTree']==0)]['age']).mean()

25.046875

# Data Prediction

## Prepare training data

In [4]:
train.head()

,personalID,realChristmasTree,cityOfResidence,gender,age,serviceYears,familySize,invoiceNumberChristmasTree,KmDriven,accountClass,branch,name
0,2,1,Amsterdam,female,38.0,2,0,32437,40692.495,C,Amsterdam (the Edge),"TANEJA, Mrs. susi"
1,3,1,Leiden,female,26.0,1,0,24104,31188.750,NaN,Rotterdam,"GALLI, Miss. kristina"
2,4,1,Amsterdam,female,35.0,2,0,43238,37965.000,C,Rotterdam,"RIVA, Mrs. jolie"
3,5,0,Leiden,male,35.0,1,0,66325,31207.500,NaN,Rotterdam,"BRINGAS, Mr. alvan"
4,6,0,Leiden,male,NaN,1,0,49297,31268.745,NaN,Utrecht,"TURCOTT, Mr. francklin"

In [10]:
#train

In [6]:
from sklearn.model_selection import train_test_split

# train_test_split can be used to split a dataset into a training and test set
# we use random_state=0 to seed the random generator so it will always do this split in the same way
X= train.drop(['personalID', 'name','realChristmasTree', 'invoiceNumberChristmasTree'], axis=1)
y = train.realChristmasTree


X['gender'] = X['gender'].map(dict(male=0, female=1))
X.branch.replace({"Amsterdam (the Edge)": 0, "Rotterdam": 1, "Utrecht":2}, inplace=True)
X.cityOfResidence.replace({"Amsterdam": 0, "Leiden": 1, "Utrecht":2}, inplace=True)
X.accountClass.replace({"A": 0, "B": 1, "C":2, "D":3, "E":4, "F":5, "G":6, "T":7}, inplace=True)

X.fillna(X.mean(), inplace=True)


trainX, testX, trainY, testY = train_test_split(X, y, random_state=0)

from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(trainX)
scaler.transform(trainX) 
   

trainX.describe()

,cityOfResidence,gender,age,serviceYears,familySize,KmDriven,accountClass,branch
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,0.977511,0.349325,29.670794,1.526237,0.386807,34852.793118,2.425728,0.899397
std,0.669658,0.477115,13.150811,1.109805,0.803711,7761.237773,0.727320,0.511519
min,0.000000,0.000000,0.420000,1.000000,0.000000,30000.000000,0.000000,0.000000
25%,1.000000,0.000000,22.000000,1.000000,0.000000,31188.750000,2.392157,1.000000
50%,1.000000,0.000000,29.709916,1.000000,0.000000,32079.375000,2.392157,1.000000
75%,1.000000,1.000000,35.000000,2.000000,0.000000,34650.000000,2.392157,1.000000
max,2.000000,1.000000,80.000000,9.000000,6.000000,106849.380000,7.000000,2.000000

## Prepare testing data

In [7]:
Xs = test.copy()

Xs['gender'] = Xs['gender'].map(dict(male=0, female=1))
Xs.branch.replace({"Amsterdam (the Edge)": 0, "Rotterdam": 1, "Utrecht":2}, inplace=True)
Xs.cityOfResidence.replace({"Amsterdam": 0, "Leiden": 1, "Utrecht":2}, inplace=True)
Xs.accountClass.replace({"A": 0, "B": 1, "C":2, "D":3, "E":4, "F":5, "G":6, "T":7}, inplace=True)

Xs.fillna(trainX.mean(), inplace=True)

Xs = Xs.drop(['personalID', 'name', 'invoiceNumberChristmasTree'], axis=1)

scaler.transform(Xs)

Xs.describe()
Xs.head()

,cityOfResidence,gender,age,serviceYears,familySize,KmDriven,accountClass,branch
0,1,0,34.5,1,0,31174.380,2.425728,2
1,1,1,47.0,2,0,31050.000,2.425728,1
2,2,0,62.0,1,0,31453.125,2.425728,2
3,1,0,27.0,1,0,31299.375,2.425728,1
4,1,1,22.0,2,1,31843.125,2.425728,1

## Prediction

In [8]:
import sklearn

#from sklearn import linear_model
#model = sklearn.linear_model.LinearRegression()
#model.fit(trainX, trainY)

#from sklearn.linear_model import LogisticRegression
#model = LogisticRegression(penalty='l1', max_iter=1000)

from sklearn.ensemble import RandomForestClassifier
#model=RandomForestClassifier(max_depth=3, random_state=0) #76.08
#model=RandomForestClassifier(max_depth=3, random_state=0, max_features=None) #76.79
model=RandomForestClassifier(max_depth=5, random_state=0, max_features=None)


###########################################################
model.fit(trainX, trainY)

print("Model accuracy: %.2f%%" % (model.score(testX, testY)*100))


predictions = model.predict(Xs)
print(predictions)

Model accuracy: 82.51%
[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [9]:
print(''.join(map(str, predictions)))

0100101010001011000101101010000000000000010110001100110000010001111001100010010110000011111010001010100010000001111001011010010100000000000001001000101001001111111001001000000110110010101000001010110011010010100001101010101011010001000000111100001011100000001000110000000011010000011110000001000010000000110101000111000000011010001001000000000101010110001010010110100110010011000100110100000110010100101000001111101000